<div id="post_content">
  <h1 class="title"><%= @post.title %></h1>  
  <p class="date">
    <%= time_ago_in_words(@post.created_at)%>|
    <%= link_to 'Edit', edit_post_path(@post) %>|
    <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  <p class="content"><%= @post.content %></p>
  <div>Image: <%= @post.img %></div>
</div>

<div id="comments">
  <h2><%= @post.comments.count %> Comments </h2>
  <%= render @post.comments %>
  <h3>
    <%= render "comments/form" %>
  </h3>
</div>